.navbar-light .navbar-brand {
  color: #fcf9f9;
  padding-left:2px;
  padding-right:2px;
  background:blue;
}

 body {
  background: linen;
}

.box_set{
  position:relative;
  positoin:relative;
}


.box {
  position:absolute;
  width: 775px;
  height: 570px;
  margin: 48px;
  padding:50px;
  background: white;
}

.box1 {
  left:50px;
}

.box2 {
  width:500px;
  right:50px;
}