.navbar-light .navbar-brand {
  color: #fcf9f9;
  padding-left:2px;
  padding-right:2px;
  background:blue;
}

 body {
  background: linen;
}

.textblack {
  color:black;
}

.textsize {
  display:block;
  color:black;
  line-height: 2;
  font-size: large;
  text-align: left;
  background:white;
}

.img { 
  float: left;  
  margin: 0px;
}

.boxattributes {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bolder;
  color:blue;
  background: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.comparison-box {
  font-family: 'Times New Roman', Times, serif;
  font-size:xx-large;
  font-weight: bolder;
  color:blue;
  background:white;
  padding:10px;
  height:55%;
  width:55%;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
}

.box_set{
  position:relative;
}

.box {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bolder;
  color:blue;
  position:absolute;
  width:775px;
  height:570px;
  margin: 48px;
  background: white;
}

.box1 {
  left:50px;
  padding:10px;
}

.box2 {
  width:500px;
  height:auto;
  right:50px;
  padding:10px;
}

.container {
  object-position: center;
}

.row {
  display: flex;
}

.column {
  flex:25%;
  max-width:50%;
  padding: 5px;
}

.hr-attributes {
  height:1px;
  border-width:0;
  color:black;
  background-color:black;
}

@media screen and (max-width:1450px) {

  .boxattributes{
    height:auto;
  }

  .box-set {
    margin-right:auto;
    margin-left:auto;
  }
  
  .box {
    position:relative;
    margin-right:auto;
    margin-left:auto;
    background:white;
  }

.box1 {
    left:unset;
    margin-right:auto;
    margin-left:auto;
    background:white;
  }

 .box2 {
    width:775px;
    right:unset;
    margin-right:auto;
    margin-left:auto;
}

  .column {
    flex:25%
  }

  .row {
    flex-direction:row;
  }

  .container {
    display:flex;
  }
}

@media screen and (max-width: 785px) {
  .navbar-light .navbar-brand a{
    float: none;
    width: 100%;
  }

  .center{ 
    width:90%;
  }

  .comparison-box {
    margin:0px;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    width:100%;
    max-height:auto;
  }

  .boxattributes {
    height:800px;
  }

.box-set{
  height:800px;
  }

.box {
    margin:0px;
    max-width: auto;
    max-height: auto;
    background:white;
  }

.box1 {
    max-width:100%;
    max-height:100%;
    height:800px;
    background:white;
  }

.box2 {
  max-width:100%;
  max-height:100%;
}

}

