.navbar-light .navbar-brand {
  color: #fcf9f9;
  padding-left:2px;
  padding-right:2px;
  background:blue;
}

 body {
  background: linen;
}

.textwrap {
  float:left;
}

.textsize {
  color:black;
  line-height: 2;
  font-size: large;
  text-align: left;
  background:white;
}

.boxattributes {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bolder;
  color:blue;
  background: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.box_set{
  position:relative;
}

.box {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bolder;
  color:blue;
  position:absolute;
  width: 775px;
  height: 570px;
  margin: 48px;
  background: white;
}

.box1 {
  left:50px;
  padding:10px;
}


.box2 {
  width:500px;
  right:50px;
  padding:10px;
}

.img-container {
  object-position: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
